/* footer */

.footer-wrapper{
    display: flex;
    width: 100%;
    margin-top: 0px;

}

.footer-wrapper > .footer-wrapper-link{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #36383f;
    color: #cbcbcb;
    align-items: center;    
    justify-content: center;
    border: 2px solid #676767;

}

.footer-wrapper > .footer-wrapper-link a{
    display: flex;
    width: 220px;
    color: white;
    text-align: center;
    text-decoration: none;
    outline: none;
    justify-content: center;
    align-items: baseline;
    font-weight: 600;
    font-size: 15px;
}

.final-bg{
    background-color: #191a1d;
    padding: 0px;
    margin-right: 0px;
    height: 200px;
}
    
